*{
  box-sizing:border-box;
  outline: 2px solid rgba(200,0,0,.1);
}

body{
  font-family: Helvetica Neue, Helvetica, sans-serif;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

h1{
  margin: 0;
  margin-right: 25px;
}

h2{
  font-size: 30px;
}

.top-design{
  display: flex;
  width: 100%;
}

.menu-princ{
  display: flex;
  background: #3a3839;
  width: 100%;
  padding-top: 3px;
}

.nav-menu-princip{
  display: inline;
}

.menu-princ a{
  color: white;
  font-size: 15px;
  padding: 28.25px;
}

li{
   display: inline;
}

.container-content{
   display: flex;
   flex-wrap: wrap;
   margin:  0 auto;

}

.main-container{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 15px;
}

.events{
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  height: 50px;
}

.event-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;

}

.event-container a{
  font-size: 10px;
  color: #3E7FBB;
  padding-left: 170px;
}

.evt-img-col{
   width: 50%;
   height: 100px;

}

.evt-img-col img{
  width: 90%;
  height: 90%;
}

.evt-text-col{
   width: 50%;
   font-size: 8px;
}

.evt-text-col h4{
  color: #3E7FBB;
  font-size: 8px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 5px;
}

.camp-container{
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  padding-bottom: 100px;
}
 .container img{
   display: flex;
   width: 55%;
   padding: 15px;
 }

.div-container{
   width: 1100px;
}

 .schart-container{
   display: flex;
 }

 .schart-container img{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   height: 100%;
 }

.schart-text-container{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-left: 30px;
  padding-bottom: 120px;
}

.box-search{
  width: 300px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: white;
  background-color: #143bbc;
  padding:8px;
  line-height: 1.5px;
}

.box-search input{
  width: 95%;
  margin-right: 5px;
}

.box-search h5{
  display: inline;
  font-size: 10px;
  width: 160px;
}

.icons{
  display: inline;
  color: red;
  font-size: 15px;
}

.last-menu{
  display: inline;
  font-weight: bold;
}

.last-menu a{
  font-size: 10px;
  color: black;
  margin-right: 150px;
  padding-left: 10px;
}
